includes:
    - vendor/symplify/easy-coding-standard/config/psr2.neon
    - vendor/symplify/easy-coding-standard/config/php71.neon
    - vendor/symplify/easy-coding-standard/config/clean-code.neon
    - vendor/symplify/easy-coding-standard/config/common.neon

checkers:
    # spacing
    - PhpCsFixer\Fixer\PhpTag\BlankLineAfterOpeningTagFixer
    - PhpCsFixer\Fixer\Whitespace\BlankLineBeforeStatementFixer
    PhpCsFixer\Fixer\Operator\ConcatSpaceFixer:
        spacing: none
    - PhpCsFixer\Fixer\ClassNotation\MethodSeparationFixer

    PhpCsFixer\Fixer\Whitespace\NoSpacesAroundOffsetFixer:
        positions: ['inside', 'outside']

    # phpdoc
    - PhpCsFixer\Fixer\Phpdoc\PhpdocSeparationFixer
    - PhpCsFixer\Fixer\Phpdoc\PhpdocAlignFixer

    # Symplify
    - Symplify\CodingStandard\Fixer\Import\ImportNamespacedNameFixer
    - Symplify\CodingStandard\Fixer\Php\ClassStringToClassConstantFixer
    - Symplify\CodingStandard\Fixer\Property\ArrayPropertyDefaultValueFixer
    - Symplify\CodingStandard\Fixer\ArrayNotation\StandaloneLineInMultilineArrayFixer
