<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        colors="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        enforceTimeLimit="true"
>
    <testsuite name="PHP Blockchain Test Suite">
        <directory>tests</directory>
    </testsuite>

    <php>
        <ini name="error_reporting" value="E_ALL" />
    </php>

</phpunit>
